{{> head}}
{{!-- <form method="post" action="habits/1" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="text" name="proofType" value="Image" />
    <input type="text" name="proof" value="User Confirmed"/>
    <input type="text" name="note" value="some note value"/>
    <input type="submit" value="submit"/>
</form>

<form method="POST" action="/auth/sign-in">
<input type="text" name="email" id="" value="2@2.com">
<input type="text" name="password" id="" value="2@2.com">
<input type="submit" value="Submit">
</form>

<form method="POST" action="/user/avatar" enctype="multipart/form-data">
<input type="file" name="file" id="avatar">
<input type="text" name="url" id="" value="2@2.com">
<input type="submit" value="Submit"> --}}
</form>
</html>